<%= turbo_frame_tag "schoolwork_details", class: "h-full" do %>
  <div class="section-card h-full max-h-[440px]">
    <div class="flex flex-col items-center justify-center h-full text-center p-12">
      <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="text-base-content/30 mb-6">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
        <path d="M9 12h6" />
        <path d="M9 16h6" />
      </svg>
      <h3 class="text-2xl font-semibold text-base-content/50 mb-2">Select a Schoolwork</h3>
      <p class="text-base-content/40">Choose a schoolwork item from the list to view details</p>
    </div>
  </div>
<% end %>
