<turbo-frame id="subject_details">
  <div class="bg-base-100 border-2 border-base-300 rounded-2xl shadow-md p-4">
    <h3 class="text-xl font-bold">Overview</h3>
    Select a subject to view its details
  </div>
</turbo-frame>
