<div class="section-card h-full max-h-[440px]">
  <div class="flex flex-col items-center justify-center h-full text-center p-12">
    <h3 class="text-2xl text-center font-bold">School Works</h3>
    <div class="divider h-0"></div>
    <p class="text-accent-content text-center">Schoolworks will be listed here in the future</p>
  </div>
</div>