<div id="<%= dom_id subject %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= subject.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= subject.description %>
  </div>
</div>
